<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="shirin.tahmasebi.mscfinalproject">

    <!-- Dangerous Permission -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Dangerous Permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Dangerous Permission -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        tools:node="remove" />
    <uses-permission
        android:name="com.somepackage.permission.C2D_MESSAGE"
        tools:node="remove" />
    <!-- Avoid processor from sleeping -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/app_tracker" />

        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reminder.ReminderAddViewPagerActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".feedback.FeedbackActivity" />
        <activity android:name=".organization.OrganizationActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".reminder.ReminderActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".organization.WriteSmsEmailActivity" />
        <activity android:name=".inlineBrowser.InlineBrowserActivity" />
        <activity android:name=".history.EmailDetailActivity" />
        <activity android:name=".reminder.ReminderAddActivity" />
        <activity android:name="BaseApplication" />

        <receiver android:name=".reminder.Alarm" />


        <!-- Enable background dispatching to improve delivery on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Enable Google Play Store Campaign reports -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".feedback.FeedbackActivity"></activity>
        <activity android:name=".organization.OrganizationActivity"></activity>
        <activity android:name=".profile.ProfileActivity"></activity>
        <activity android:name=".reminder.ReminderActivity"></activity>
        <activity android:name=".setting.SettingActivity"></activity>
        <activity android:name=".organization.OrganizationDetailActivity"></activity>
        <activity android:name=".BaseApplication"></activity>
        <activity android:name=".organization.WriteEmailActivity"></activity>
        <activity android:name=".inlineBrowser.InlineBrowserActivity"></activity>
        <activity android:name=".history.EmailDetailActivity"></activity>
    </application>

</manifest>