<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="shirin.tahmasebi.mscfinalproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".history.HistoryActivity"/>
        <activity android:name=".feedback.FeedbackActivity">
        </activity>
        <activity android:name=".organization.OrganizationActivity">
        </activity>
        <activity android:name=".profile.ProfileActivity">
        </activity>
        <activity android:name=".reminder.ReminderActivity">
        </activity>
        <activity android:name=".setting.SettingActivity">
        </activity>
        <activity android:name=".organization.OrganizationDetailActivity">
        </activity>
        <activity android:name=".BaseApplication">
        </activity>
        <activity android:name=".organization.WriteEmailActivity">
        </activity>
    </application>

</manifest>